$fontfamily: "PT Sans";
$bowlbyfont: "Bowlby One", cursive;

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 240px;
$mw: 1180;
$md1: $mw + 7;
$md2: 991.98;
$md3: 767.98;
$md4: 599.98;
$md5: 319.98;
$md6: 249.98;